
.germBack {
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: 0;*/
    height: 100%;
    background-color: rgba(0, 186, 18, 0.69);

}

/*TODO: match styles w/ map*/

.germForm {

    /*position: absolute;*/
    margin: 5vh auto;

}

.ghBase {
    /*position: absolute;*/
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 20em;
    height: 50em;
    background-color: rgba(161, 161, 161, 0.81);
}

{

}
