* {
    transition: all 1s;
    will-change: auto;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#leafletMap {
    height: 180px;
}

.clock {
    z-index: -1;
    float: right;
    margin: 1vmin;
    color: #6396c7;
    /*background-color: #b1c78b;*/
    font-size: small;
    transition: all 750ms ease-in;
}

.clock.blink {
    color: #6b8e23;
    transition: all 250ms ease-out;
}

.clockwise {
    animation: App-logo-spin infinite 20s linear;
}

.unclockwise {
    animation: App-logo-spin2 infinite 20s linear;
}


.row {
    opacity: 1;
    transition: all 1s ease-in;
}

.hidden {
    opacity: 0;
    transition: all 1s ease-out;
}

.menuBar {
    margin: 5vmin auto 1vmin auto;
    max-width: 95%;
    padding-left: 1vmin;
}

.menuBar.hidden {
    position: absolute;
    z-index: 8;
}

.menuBarFieldBack {
    /*max-width: 15vw;*/
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 6;
}

.menuBarFieldBack.values {
    max-width: 35vw;
    right: 0;
    border: 2px solid #073763;
    border-radius: 4px;
    background-color: rgba(226, 226, 226, 0.81);
}

/*.menuText.dataField:nth-child(2) {*/
/*position: relative;*/
/*}*/

.menuText {
    position: relative;
    float: left;
    opacity: .9;
    color: #3450ae;
    font-style: italic;
    font-size: 1em;
    margin: 0 1vmin;
    vertical-align: center;
    text-align: center;
}

.menuText.dataField {
    display: inline-block;
    /*height: 1.5em;*/
    /*width: fit-content;*/
    float: right;
    font-style: italic;
    font-size: 1em;
    color: #073763;
    background-color: #e2e2e2;
    /*background-size: cover;*/
    border-radius: 4px;
    vertical-align: center;
    text-align: center;
    z-index: 7;
}

.menuText.dataField.values {
    padding: 0 !important;
}

.menuText.home {
    color: #073763; /*default but also use current*/
    /*float: left;*/
}

.menuText:hover {
    color: rgb(85, 87, 255);
    transform: scale(1.1);
    opacity: 1.2;
}

.top {
    position: fixed;
    background-color: rgba(161, 161, 161, 0.81);
    width: 100%;
    height: auto;
    max-width: 91vw;
    top: 0;
    right: 0;
    z-index: 5;
    margin: 2vmin;
    padding: 1vmin; /*TODO: improve*/
}

.topBrandPic {
    position: absolute;
    right: 2vmin;
    top: 2vmin;
    width: 20vmin;
    margin: 1vmin
}

.topLogo {
    /*position: absolute;*/
    width: 15vmin;
    float: left;
    /*left: 0;*/
    margin: 1vmin;
    opacity: .6;
    z-index: 8;
}

.topTitle {
    font-family: "Baskerville", normal, sans-serif;
    font-style: normal;
    text-align: center;
    color: #71895c;
    max-height: 18vmin;
    margin: 1vmin 10vmin auto auto;
}

.topTitle.error {
    margin: 20vmin;
    height: 80vh;
    color: red;
    transition: all 500ms ease-in;
}


/*FASTER */
.shade:hover {
    box-shadow: #343434 1vw 1vh 1vmin; /*psy*/
    /*box-shadow: #343434 2vw 2vh 1vmin .1vmax; !*mma*!*/
}

.shade:active {
    filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
    -webkit-filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
}


/*SLOWER keep small + use integers*/
.shadow {
    filter: drop-shadow(1vw 1vh #343434); /*SLOWER*/
    -webkit-filter: drop-shadow(0 0 #343434); /*SLOWER*/
}

.shadow:hover {
    filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
    -webkit-filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
}

.shadow:active {
    filter: drop-shadow(1vw 1vh 2px rgba(52, 52, 52, 0.5));
    -webkit-filter: drop-shadow(1vw 1vh 0px rgba(52, 52, 52, 0.5));
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


