/*.OldMap {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    max-width: 960px;*/
/*    height: 50%;*/
/*    margin-top: 5vh; !*10 vh no good in HD*!*/
/*}*/

#map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

/*#map:nth-child(n) {*/
/*    position: relative;*/
/*    height: 25%;*/

/*}*/



#mapContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    margin: 1vmin;
}

#map2 {
    position: relative;
    height: 25%;
    bottom: 0;
}
