/*.OldMap {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    max-width: 960px;*/
/*    height: 50%;*/
/*    margin-top: 5vh; !*10 vh no good in HD*!*/
/*}*/

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50%;
    margin: 1vmin auto;
}

/*#map:nth-child(n) {*/
/*    position: relative;*/
/*    height: 25%;*/

/*}*/

#map2 {
    position: absolute;
    height: 25%;
    bottom: 0;
    z-index: 1;

}
