.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: palegoldenrod;
    background-color: #8d8a7e;
    border: #073763 solid 2px;
    border-radius: 4px;

    position: relative;
    margin: 1vmin;
    /*width: 25vw !important;*/
    font-size: large;
    vertical-align: center;
    transition: all .5s;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    /*color: #8f3900;*/
    border: #8f3900 solid 2px;
    font-size: x-large;
    overflow: visible;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    /*color: #b8b23a;*/
    /*border: #b8b23a solid 2px;*/
    transition: all .25s;
    overflow: visible;
}

.buttonFields {
    /*position: absolute;*/
    /*left: 0;*/
    height: auto;
    margin: 0 auto;
    padding: 1vmax;
    max-width: 90vw;
    /*box-sizing: border-box;*/

}

.homeReport {
    height: 25vh;
    background-color: ghostwhite;
}

.IndexBack {
    min-height: 150vh;
    height: 100%;
    max-width: 100vw;
    background-color: #71895c;
}

.IndexMain {
    position: absolute;
    /*z-index: 8;*/
    margin: calc(15vh + 3em) 0 1vmax 0;
    padding: 0 0 3vmax 0;

    height: 85%;
    width: 100%;
    background-color: gainsboro;
}

.IndexTop {
    background-color: rgba(161, 161, 161, 0.81);
    height: 20vmin;
    width: 100%;
    max-width: 85vw;
    top: 0;
    position: fixed;
    /*z-index: 5;*/
    padding: 1vh; /*TODO: improve*/
}

